
body{
    background-color: #c7cfb7;
}
hr{
    border-style: dotted none none none ;
    height:0px;
    border-width: 10px;
    border-color: #03506f;
    width:10%;

}
h1,h2,h3{
    color: #557174;
}

.magic{
    background-color: goldenrod;
}

.magic:hover{
    background-color: lightseagreen;
}
#heading3{
    color: green;
}

.head:hover{
    color: hotpink;
}

#heading3:hover{
    color: #03506f;
}
